
.carousel-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%; /* Adjust as needed */
}

.carousel-slide {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    width: 97.3%;
    height: 100%;
    transition: opacity 1s ease-in-out;
}

.carousel-slide.active {
    display: block;
    opacity: 1;
}

.carousel-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
